legacy-peer-deps=true
shamefully-hoist=true
ignore-scripts=false
@swc:registry=https://registry.npmjs.org/
@rollup:registry=https://registry.npmjs.org/
node-linker=hoisted
auto-install-peers=true
strict-peer-dependencies=false